In [1]:
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
dataset = pd.read_csv("Microsoft_Stock.csv")
dataset.set_index('Date', inplace= True)

In [3]:
dataset

                      Open    High     Low   Close    Volume
Date
4/1/2015 16:00:00    40.60   40.76   40.31   40.72  36865322
4/2/2015 16:00:00    40.66   40.74   40.12   40.29  37487476
4/6/2015 16:00:00    40.34   41.78   40.18   41.55  39223692
4/7/2015 16:00:00    41.61   41.91   41.31   41.53  28809375
4/8/2015 16:00:00    41.48   41.69   41.04   41.42  24753438
...                    ...     ...     ...     ...       ...
3/25/2021 16:00:00  235.30  236.94  231.57  232.34  34061853
3/26/2021 16:00:00  231.55  236.71  231.55  236.48  25479853
3/29/2021 16:00:00  236.59  236.80  231.88  235.24  25227455
3/30/2021 16:00:00  233.53  233.85  231.10  231.85  24792012
3/31/2021 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 5 columns]

In [44]:
overview = dataset.describe()
overview.loc[['min', 'max']].to_json('schema_in.json', indent = 4)

In [5]:
X_train, Y_train = dataset.drop(columns= ['Volume']), dataset['Volume']

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X_train.values)
model = LinearRegression()
model.fit(X_scaled, Y_train)
X_test_scaled = scaler.transform(X_train.values)
Y_pred = model.predict(X_test_scaled)
rmse = np.sqrt(mean_squared_error(Y_pred.reshape(-1, 1), Y_train))
mse = mean_squared_error(Y_pred.reshape(-1, 1), Y_train)
r2 = r2_score(Y_pred.reshape(-1, 1), Y_train)
print(f"The RMSE is: {rmse}, MSE: {mse}, r2_score is {r2}")

The RMSE is: 10709718.185805803, MSE: 114698063619379.55, r2_score is -0.29887368055809227

In [9]:
try:
    2 + a == 8
except NameError as e:
    print(str(e))

name 'a' is not defined

In [29]:
m = add(2, 3)

In [30]:
m(2, 3)

TypeError: 'NoneType' object is not callable